<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/flexslider.css" rel="stylesheet">
    <link href="../css/templatemo-style.css" rel="stylesheet">
    <script src="../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../admin/styles.css" />
    <title>Thêm Tour - Admin</title>
</head>

<body>
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">VN Tours</a>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li class="nav-item active">
                                <a href="/">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/about" class="active">About</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/admin/adminpage" type="button">AdminPage</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px">
        <div class="nav justify-content-center">
            <div class="card">
                <h3 class="card-header text-center">Thêm Tour</h3>
                <div class="card-body">
                    <form action="">
                        <div class="form-group text-center">
                            <label>Tên Tour<br><input type="text" id="name" placeholder="Tên Tour" size="48" required></label><br>
                            <label>Mô tả <br><textarea type="text" id="mota" placeholder="Mô tả tour" rows="5" cols="50" required></textarea></label>
                            <br> <label>Thời Gian dự Kiến<br><input type="text" id="time" placeholder="Thời gian dự kiến" size="48" required></label>
                            <br><label>Điểm Khởi Hành<br><input type="text" id="address" placeholder="Địa điểm khởi hành" size="48" required> </label>
                            <br>
                            <label for="">Phương Tiện di chuyển <br> <input type="text" id="pt" placeholder="Phương tiện di chuyển" size="48" required></label><br>
                            <label>Giá Tour<br><input type="text" id="price" placeholder="Giá Tour" size="48"  required> </label><br>
                            <label>Tour Detail<br><textarea type="text" id="td" placeholder="tourDetail" rows="5" cols="50" required></textarea></label>

                        </div>
                        <div class="text-center"><input class="btn btn-lg btn-success addbtn" id="sub" type="submit" value="Thêm"></input>
                            </>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <h2 class="text-center">Danh Sách Tour</h2>
        <div class="nav justify-content-center tblData " style="overflow-y: scroll; height: 400px ">

            <table class="table table-hover " style="width:100%">
                <thead>
                    <tr>
                        <th>Tên Tour</th>
                        <th>Mô tả</th>
                        <th>Thời Gian dự kiến</th>
                        <th>Điểm Khởi hành</th>
                        <th>Phương Tiện di chuyển</th>
                        <th>Giá</th>
                        <th>Tour Detail</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    <%data.forEach(function(i){%>
                        <tr>
                            <td>
                                <%=i.tourName%>
                            </td>
                            <td>
                                <%=i.tourDescription%>
                            </td>
                            <td>
                                <%=i.tourDuration%>
                            </td>
                            <td>
                                <%=i.tourDeparture%>
                            </td>
                            <td>
                                <%=i.tourTransportation%>
                            </td>
                            <td>
                                <%=i.price%>
                            </td>
                            <td>
                                <%=i.tourDetail%>
                            </td>
                            <td>
                                <button class="del btn btn-danger" value="<%=i._id%>">DEL</button>
                            </td>
                            <td>
                                <button class="update btn btn-success" value="<%=i._id%>">Edit</button>
                            </td>
                        </tr>
                        <%});%>
                </thead>
                <tbody id="Data"></tbody>
            </table>
        </div>

    </div>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row" text-align="center">
                <p class="tm-copyright-text">Copyright &copy; 2021 Vietnam Tourist</p>
            </div>
        </div>
    </footer>
</body>

<script src="../addtour.js"></script>

</html>