<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/flexslider.css" rel="stylesheet">
    <link href="../css/templatemo-style.css" rel="stylesheet">
    <title>Home</title>
</head>
<style>
    .im {
        width: 203px;
        height: 100%;
    }
</style>

<body>
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">VN Tours</a>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li class="nav-item active">
                                <a href="/" class="active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/register">Sign up</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>



    <div id="myCarousel" class="carousel slide border" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100" src="../img/banner-1.jpg" alt="Leopard">
                <div class="tm-banner-inner">
                    <h1 class="tm-banner-title">Find <span class="tm-yellow-text">The Best</span> Place</h1>
                    <p class="tm-banner-subtitle">For Your Holidays</p>
                    <a href="#more" class="tm-banner-link">Learn More</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../img/banner-2.jpg" alt="Leopard">
                <div class="tm-banner-inner">
                    <h1 class="tm-banner-title">Lorem <span class="tm-yellow-text">Ipsum</span> Dolor</h1>
                    <p class="tm-banner-subtitle">Wonderful Destinations</p>
                    <a href="#more" class="tm-banner-link">Learn More</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../img/banner-3.jpg" alt="Leopard">
                <div class="tm-banner-inner">
                    <h1 class="tm-banner-title">Proin <span class="tm-yellow-text">Gravida</span> Nibhvell</h1>
                    <p class="tm-banner-subtitle">Velit Auctor</p>
                    <a href="#more" class="tm-banner-link">Learn More</a>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="container" style="margin-top: 50px">
        <div class="container">
            <div class="row" align="center">
                <div class="col-lg-4">
                    <hr>
                </div>
                <div class="col-lg-4" text-align="center">
                    <h2 class="tm-section-title">Popular Packages</h2>
                </div>
                <div class="col-lg-4" text-align="center">
                    <hr>
                </div>
            </div>
        </div>
        <section class="tm-white-bg section-padding-bottom">
            <div class="container" style="margin-top:50px">
                <% data.forEach(function(i){%>
                    <div class="col-lg-6, col-md-6" style="padding-top: 20px;">
                        <div class="col-lg-5, col-md-5" style="height:200px; width:100%;">
                            <img class="im" src="../img/index-07.jpg">
                        </div>
                        <div class="col-lg-7, col-md-7" style="height:200px; width:100%">
                            <div>
                                <h3>
                                    <%= i.tourName %>
                                </h3>
                            </div>
                            <div style="padding-top: 5px; height:130px;">
                                <p>
                                    <%= i.tourDetail %>
                                </p>
                            </div>
                            <div style="text-align:center; padding-bottom:10px;">
                                <a href="" class="open-AddBookDialog btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-tran="<%= i.tourTransportation %>" data-name="<%= i.tourName %>" data-xx="<%=i.tourDeparture%>" data-id="<%= i.id %>" data-content="<%= i.tourDescription %>"
                                    data-time="<%= i.tourDuration %>">Chi tiết và đặt tour</a>
                            </div>

                        </div>
                    </div>
                    <%})%>
            </div>
        </section>
        <div class="row">
            <!-- pagination -->
            <% if(pages > 0) { %>
                <!-- show pagination if there is pages -->
                <nav class="mx-auto">
                    <ul class="pagination" style="margin-top: 2rem;">
                        <!-- FIRST ITEM -->
                        <% if(current == 1) { %>
                            <li class="page-item disabled">
                                <a class="page-link" href="/">First</a>
                            </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/">First</a>
                                </li>
                                <% } %>
                                    <!-- ITEMS  -->
                                    <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                                        <% if(i !== 1) { %>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">...</a>
                                            </li>
                                            <% } %>
                                                <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                                    <% if(i == current) { %>
                                                        <li class="page-item active">
                                                            <a class="page-link" href="/tour/booking/<%= i %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="/tour/booking/<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% if (i == Number(current) + 2 && i < pages) { %>
                                                                    <li class="page-item disabled">
                                                                        <a class="page-link" href="#">...</a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <!-- LAST ITEM -->
                                                                            <% if(current == pages) { %>
                                                                                <li class="page-item disabled">
                                                                                    <a class="page-link" href="#">
                                                                                        <p>Last</p>
                                                                                    </a>
                                                                                </li>
                                                                                <% } else { %>
                                                                                    <li class="page-item">
                                                                                        <a class="page-link" href="/tour/booking/<%= pages %>">
                                                                                            <p>Last</p>
                                                                                        </a>
                                                                                    </li>
                                                                                    <% } %>
                    </ul>
                </nav>
                <% } %>
        </div>
    </div>
    </section>
    <div class="row" style="padding-top: 20px; padding-bottom: 50px">
        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/money.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Ultimate flexibility</h5>
            <p class="text-center">You’re in control, with free cancellation and payment options to satisfy any plan or budget.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/memorable.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Memorable experiences</h5>
            <p class="text-center">Browse and book tours and activities so incredible, you’ll want to tell your friends.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/quality.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Quality at our core</h5>
            <p class="text-center">High quality standards. Millions of reviews. A Tripadvisor company.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/cup.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Award-winning support</h5>
            <p class="text-center">New price? New plan? No problem. We’re here to help, 24/7.</p>
        </div>
    </div>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row" text-align="center">
                <p class="tm-copyright-text">Copyright &copy; 2021 Vietnam Tourist</p>
            </div>
        </div>
    </footer>
</body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h3 class="modal-title" id="name"></h3>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="col-lg-4" height="150px;">
                        <img src="../img/destination-5.jpg" alt="" height="100px" width="150px">
                    </div>
                    <div class="col-lg-8">
                        <div>
                            <h5 id="diengiai"></h5>
                        </div>
                        <div>
                            <h5 id="data"></h5>
                        </div>
                        <div>
                            <h5 id="address"></h5>
                        </div>
                        <div>
                            <h5 id="tran"></h5>
                        </div>
                        <div>
                            <h5 id="time"></h5>
                        </div>
                    </div>
                </div>

                <div style="padding-top: 50px;">
                    <div>
                        <label>Chọn ngày khởi hành:</label><br>
                        <input id="date" type="date" placeholder="Ngày đi">
                    </div>
                    <div>
                        <label>Chọn số lượng người lớn:</label><br>
                        <input id="num" type="number" placeholder="Số lượng người lớn" value="1">
                    </div>
                    <div>
                        <label>Chọn số lượng trẻ em:</label><br>
                        <input id="numc" type="number" placeholder="Số lượng trẻ em" value="0">
                    </div>
                    <div>
                        <label for="cars">Chọn hình thức thanh toán:</label><br>
                        <select id="buy_option">
                            <option value="cash">cash</option>
                            <option value="visa card">visa card</option>
                            <option value="redict card">redict card</option>
                        </select>
                    </div>

                    <h3>Giá tiền:1000000
                    </h3>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="submit" type="button" class="btn btn-primary">Đặt tour</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="../js/moment.js"></script>
<!-- moment.js -->
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="../js/bootstrap-datetimepicker.min.js"></script>
<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script type="text/javascript" src="../js/jquery.flexslider-min.js"></script>
<!--
<script src="js/froogaloop.js"></script>
<script src="js/jquery.fitvid.js"></script>
-->
<script type="text/javascript" src="js/templatemo-script.js"></script>
<!-- Templatemo Script -->



<script>
    $(".open-AddBookDialog").on("click", function() {
        var myBookId = $(this).data('id');
        var name = $(this).data('name');
        var content = $(this).data('content');
        var time = $(this).data('time');
        var tourDeparture = $(this).data('xx');
        var tran = $(this).data('tran')
            //document.getElementById("id_tour").innerHTML = myBookId;
        document.getElementById("name").innerHTML = "Đặt Tour: " + name;
        document.getElementById("diengiai").innerHTML = "Chi tiết tour: " + content;
        document.getElementById("address").innerHTML = "Địa điểm khởi hành: " + tourDeparture;
        document.getElementById("tran").innerHTML = "Hình thức di chuyển: " + tran;
        document.getElementById("time").innerHTML = "Thời gian tour dự kiến: " + time;

        $("#submit").on("click", function() {
            $.ajax({
                    url: '/booking/add',
                    type: 'POST',
                    data: {
                        tour_id: myBookId,
                        dateDeparture: $('#date').val(),
                        adult: $('#num').val(),
                        payment: $('#buy_option').val(),
                        children: $('#numc').val(),
                        total: $('#numc').val()
                    }
                })
                .then(data => {
                    if (data.msg == 'success') {
                        alert("Đặt tour thành công");
                        window.location.href = '/';
                        return false;
                    }
                    if (data.msg == 'chua dang nhap') {
                        alert("Hãy đăng nhập trước khi đặt tour");
                        window.location.href = '/user/login';
                        return false;
                    }
                })
                .catch(error => {
                    alert("Lỗi không xác định, vui lòng thử lại");
                    console.log(error);
                })
        })
    });
</script>

</html>